* {
	background-color: rgb(15, 23, 22);
    color: #ffecbf;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
	border: 2px solid rgb(47, 75, 61);
}

.gui {
    border: 1px solid rgb(117, 168, 146);
}

.highlight {

    color:rgb(102, 255, 255);
    transition: background-color 400ms;
}

.no-highlight {
    background-color: inherit;

    transition: background-color 400ms;
}

#edit_text {
    margin-top: 15px;
    width: 80em;
    height: 55em;
    box-shadow: none;
    outline: none;
}

.custom-mode-icon{
	display: inlin-block;
}
.grid-icon {
    
    display: inline-grid;
    column-gap: 1px;
    row-gap: 1px;
    padding:2px;
    grid-template-columns: repeat(5, 8px);
    grid-template-rows: repeat(5, 8px);
}

.shrunk {
    transform: scale(.6);
}

.grid-cell {
    width: 8px;
    height: 8px;

}

.cell-on {
    background-color: rgb(0, 0, 0, 0.6);
}

.cell-off {
    background-color: rgba(255, 255, 255, 0.15);
}